body {
  background-color: #7C786A;
  margin: 0px;
  font-family: Montserrat; }

#header {
  position: relative;
  border: solid 1px #EB6E44;
  width: 99.9%;
  height: 300px; }

#header .logo {
  position: relative;
  top: 10%;
  left: 3%;
  width: 400px;
  height: 200px;
  border: solid 1px #D3E397; }

#header .menu {
  position: relative;
  left: 32%;
  top: -42%;
  width: 66%;
  height: 100px;
  border: solid 1px #8DCDC1; }

@media screen and (max-width: 1377px) {
  #header .menu {
    left: 33%;
    width: 66%; } }

@media screen and (max-width: 1216px) {
  #header .menu {
    left: 33%;
    width: 50%; } }
