$primaryColor: #7C786A;
$secondaryColor: #8DCDC1;
$thirdColor: #D3E397;
$fourthColor:#FFF5C3;
$fifthColor:#EB6E44;

$logoscew: -20deg;

body{
    background: $fourthColor;
    margin: 0px;
}

#header{
    position: relative;
    height: 150px;
    background-color: $secondaryColor;
}

#header .logo{
    position: relative;
    left:-10%;
    width: 40%;
    background-color: $thirdColor;
    height: 100%;
    -ms-transform: skewX($logoscew); 
    -webkit-transform: skewX($logoscew); 
    transform: skewX($logoscew); 
}

#header .menu{
    position: relative;
    top: -150px;
    left: 32%;
    
    width: 68%;
    height: 100%;
    
}



//Mobile Styles
@media screen and (max-width: 980px) {    
  #header .logo{
      width:110%;
      -ms-transform: skewX(0deg); /* IE 9 */
      -webkit-transform: skewX(0deg); /* Safari */
      transform: skewX(0deg); /* Standard syntax */
  }
  
   #header .menu{
       top:0px;
       left:0px;
       width: 100%;
       background-color: gray;   
   }
   
   #body{
       position: relative;
       top:130px;
   }
}
